/*-- scss:rules --*/

/* Set background color for the title slide */
.reveal .slide-background:first-of-type {
  background-color: white !important;
}

/* Make link icons smaller */
.link-block img {
  width: 50px;
  height: auto;
  margin-bottom: 5px;
}

/* Make all code chunks bigger */
.reveal pre code {
  font-size: 1.5em;
  line-height: 1.5;
}

/* Add space between code blocks */
.reveal pre {
  margin-bottom: 2em;
}

/* Non-code text navy */
.reveal .slides {
  color: rgba(37, 37, 145);
}

/* Make all titles blue */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: rgba(37, 37, 145);
}

/* Title slide title */
.reveal .title {
  color: rgba(37, 37, 145);
}

/* ===== NEW: Header sizing ===== */
/* ===== FORCE header sizing ===== */

.reveal .slides h1 {
  font-size: 2.5em !important;
}

.reveal .slides h2 {
  font-size: 1.5em !important;
}

.reveal .slides h3 {
  font-size: 0.9em !important;
}

.reveal .slides h4 {
  font-size: 0.8em !important;
}

.reveal .slides h5 {
  font-size: 0.7em !important;
}

.reveal .slides h6 {
  font-size: 0.6em !important;
}

/* ============================== */

/* Improve text rendering */
.reveal .slides section {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transform: translateZ(0);
  padding-top: 0 !important;
  margin-top: 0 !important;
}

/* Prevent blurry code blocks */
.reveal pre {
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  width: 95%;
}

.reveal pre,
.reveal img,
.reveal svg {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

/* Improve inline code appearance */
.reveal code:not(pre code) {
  font-size: 0.9em;
  background-color: #f2f2f2;
  padding: 0.1em 0.1em;
  border-radius: 4px;
}